$primaryColor: black;
$secundaryColor: #FFE81F;
$tertiaryColor: #085ea5;
$primaryBorder: 3px solid $secundaryColor;
$primaryFontSize: 1.5em;

div{
  &.container{

    div{
      &.container__content{
        display: flex;
        flex-direction: column;
        height: 80vh;
        padding: 0 30px;

        div{
          &.container__content--envelopes{
            display: flex;
            justify-content: center;
            border-top: 2px solid $secundaryColor;
            padding: 10px 20px;

            button{
              &.envelopes__button{
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(151, 139, 29, 0);
                color: $secundaryColor;
                font-size: 10em;
                height: 126px;
                width: 168px;
                border: none;
                border-radius: 20px;
                margin: 20px;
                transition: all 0.3s ease 0s;

                &:hover{
                  position: relative;
                  transform: scale(1.05);
                  box-shadow: 0 0 10px $secundaryColor;
                }
              }
            }
          }

          &.container__content--sheets{
            display: flex;
            justify-content: center;
            border-top: 2px solid $secundaryColor;
            padding: 10px 20px;
            width: 90vw;
            overflow: auto;

            div{
              &.sheets__item{
                display:flex;
                flex-direction: column;
                align-items: center;
                width: 174px;
                margin-right: 30px;

                button{
                  &.sheets__item--button{
                    cursor: pointer;
                    transition: all 0.3s ease 0s;
                    border: 2px solid $tertiaryColor;
                    font-family: 'Krona One', sans-serif;
                    background-color: rgba(8, 94, 165, 0.4);
                    margin-top: 3px;
                    border-radius: 10px;
                  
                    &:hover{
                      position: relative;
                      transform: scale(1.1);
                      box-shadow: 0 0 50px $tertiaryColor;
                      background-color: $tertiaryColor;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}