@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

body {
  margin: 0;
  font-family: 'Krona One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("https://res.cloudinary.com/dpklpjhm2/image/upload/v1614634850/star-wars-backgrounds_dgrks0.jpg");
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
